.contact_container {
    background: var(--color-bg1);
    padding: 4rem;
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 4rem;
    height: 30rem;
    margin: 7rem auto;
    border-radius: 1rem;
}

/* Aside */
.contact_aside {
    background: var(--color-primary);
    padding: 3rem;
    border-radius: 1rem;
    position: relative;
    bottom: 10rem;
}

.aside_image {
    width: 12rem;
    margin-bottom: 1rem;
}

.contact_aside p {
    font-size: 0.9rem;
    margin-bottom: 2rem;
}

.contact_detail li {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;
}

.contact_socials {
    display: flex;
    gap: 0.8rem;
    margin-top: 3rem;
}

.contact_socials a {
    background-color: var(--color-bg2);
    padding: 0.5rem;
    border-radius: 50%;
    transition: var(--transition);
}