.categories {
    background: var(--color-bg1);
    height: 29rem;
}

.categories h1 {
    line-height: 1;
    margin-bottom: 3rem;
}

.categories_container {
    display: grid;
    grid-template-columns: 40% 60%;
    /* gap: 4rem; */
}

.categories_left {
    margin-right: 4rem;
}

.categories_left p {
    margin: 1rem 0 3rem;
}

.categories_right {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.2rem;
}

.category {
    background: var(--color-bg2);
    padding: 2rem;
    border-radius: 2rem;
    transition: var(--transition);
}

.category:hover {
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.category:nth-child(2) .category_icon {
    background: var(--color-danger);
}

.category:nth-child(3) .category_icon {
    background: var(--color-success);
}

.category:nth-child(4) .category_icon {
    background: var(--color-warning);
}

.category:nth-child(5) .category_icon {
    background: var(--color-success);
}

.category_icon {
    background: var(--color-primary);
    padding: 0.7rem;
    border-radius: 0.9rem;
}

.category h5 {
    margin: 2rem 0 1rem;
}

.category p {
    font-size: 0.85rem;
}

/* categories for mobile
.categories_right {
    grid-template-columns: 1fr 1fr;
    gap: 0.7rem;
}

.category {
    padding: 1rem;
    border-radius: 1rem;
}

.category_icon {
    margin-top: 4px;
    display: inline-block;
} */

