.courses{
    margin-top: 10rem;
  }
  
  .courses h2 {
    margin-bottom: 2rem;
  }
  
  .courses_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
  
  .course{
    background: var(--color-bg1);
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
  }
  
  .course:hover{
    background: transparent;
    border-color: var(--color-primary);
  }
  
  .course_info{
    padding: 2rem;
  }
  
  .course_info p{
    margin: 1.2rem 0 2rem;
    font-size: 0.9rem;
  }.courses{
  margin-top: 10rem;
}

.courses h2 {
  margin-bottom: 2rem;
}

.courses_container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.course{
  background: var(--color-bg1);
  text-align: center;
  border: 1px solid transparent;
  transition: var(--transition);
}

.course:hover{
  background: transparent;
  border-color: var(--color-primary);
}

.course_info{
  padding: 2rem;
}

.course_info p{
  margin: 1.2rem 0 2rem;
  font-size: 0.9rem;
}